@import 'mixins/team-colors.scss';
@import 'mixins/positioning.scss';
$primary: #61aeab;
/*===============================
=            GENERAL            =
===============================*/

html,
body {
    height: 100%;
    background-color: #293237;
    color: #fff;
    position: relative;
}

.btn-primary {
    background-color: $primary;
    border-color: $primary;
    cursor: pointer;
    &:hover {
        border-color: $primary;
        background-color: $primary;
    }
}

a:hover {
    text-decoration: none;
}

.hidden {
    display: none;
}

.container {
    min-height: 100vh;
    /* will cover the 100% of viewport */
}

/*==============================
=            HEADER            =
===============================*/

header {
    margin-top: 50px;
    h2 {
        color: #61aeab
    }
}

footer {
    text-align: center;
    background-color: #424a4f60;
    padding: 20px;
    width: 100%;
    bottom: 0;
    border-top: 1px solid $primary;
    a {
        color: $primary;
    }
}

.radios {
    label {
        display: block;
    }
}

.player-wrap {
    padding: 10px;
    .player {
        padding: 5px 15px 0px 15px;
        border-width: 1px;
        border-style: solid;
        border-radius: 7px;
        background-color: rgba(255, 255, 255, 0.05);
        font-size: 1.2em;
        p {
            display: inline-block;
            &:nth-of-type(2) {
                float: right;
                color: rgb(177, 177, 177)
            }
        }
        img {
            @include centered-relative(true, false);
            width: 80%;
        }
    }
}

/*===============================
=            FILTERS            =
===============================*/

.nav {
    width: 100%;
    border-color: #424a4f;
    z-index: 10;
    position: relative;
    border-bottom: none;
    .nav-link {
        border-bottom: none;
        color: gray;
        &:hover,
        &:focus {
            border-color: transparent;
            color: white;
        }
        &.active {
            background-color: #424a4f;
            border-color: gray;
            color: white;
        }
    }
    .nav-item {
        cursor: pointer;
    }
    .reset-button {
        right: 0px;
        position: absolute;
        margin-right: 10px;
        &:focus {
            border-color: transparent;
        }
        &:hover {
            input {
                background-color: #674848;
                border-color: #f76f67;
            }
        }
        input {
            font-size: 14px;
            height: 35px;
            background: none;
            border-color: #f76f67;
        }
    }
}

.filter-block {
    border: gray 1px solid;
    border-radius: 7px 7px 7px 7px;
    background-color: rgba(255, 255, 255, 0.116);
    margin-top: 0px;
    display: none;
    position: relative;
    &.active {
        display: block;
    }
    &:nth-child(2) {
        border-radius: 0px 7px 7px 7px;
    }
    &_divider {
        height: 100%;
        width: 1px;
        background-color: gray;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    &_divider-h {
        height: 1px;
        padding: 0;
        width: 100%;
        background-color: gray;
    }
    .team {
        p {
            width: 235px;
        }
    }
}

.stat-button-wrap {
    label {
        margin: 5px 10px 0px 0px;
        background: none;
        &.selected {
            background-color: $primary;
            border-color: $primary;
        }
    }
    input {
        visibility: hidden;
        display: none;
    }
}

/*=====================================
=            PLAYER SEARCH            =
======================================*/

/*====================================
=            LEADERBOARDS            =
=====================================*/

.leaderboard-display {
    overflow-x: scroll;
    width: 100%;
    border-radius: 7px;
    border: 1px solid gray;
    table {
        background-color: #424a4f;
        padding: 5px 15px 0px 15px;
        font-size: .9em;
        width: calc(100% + (1160px - 100%));
    }
    tr {
        padding: 10px;
        height: 40px;
        &:nth-child(even) {
            background-color: rgba(255, 255, 255, 0.05);
        }
    }
    th {
        &.ranked {
            background-color: #333b3f;
        }
        &:nth-child(2) {
            text-align: left;
        }
    }
    td {
        &:first-child {
            color: gray
        }
        &:nth-child(2) {
            border-right: 1px solid gray;
            max-width: 160px;
            min-width: 150px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: left;
        }
        &.ranked {
            background-color: #ffffff1c;
        }
    }
    th,
    td {
        padding: 10px;
        text-align: center;
    }
    thead {
        background-color: #263036;
        border-bottom: 1px solid gray;
    }
}